<html>
    <head>
        <script src="//unpkg.com/globe.gl"></script>
    </head>
    <body>
        <div id="globeViz"></div>
        Tests
    </body>
    <script>
        const getLatency = async () => {
            const rq = new Request("data.json");
            const response = await fetch(rq);
            console.log(response);
            result = await response.json();
            return result;
        }
        const getLocations = async () => {
            const rq = new Request("location.json");
            const response = await fetch(rq);
            result = await response.json();
            return result;
        };
        const formatLocationData = async (input) => {
            const gData = Object.keys(input).map((v,i,a) => {
                console.log(v);
                console.log(input[v]);
                console.log(input[v].Lat)
                return {
                    name: v,
                    lat: input[v].Lat,
                    lng: input[v].Long,
                    size: 0,
                    color: "white"
                }
            });
            return gData;
        }

        const generateArcsData = async (latency, locations, filteredLocation = null) => {
            return Object.keys(latency).map((latency_key) => {
                return Object.keys(locations).map((location_key) => {
                    return {
                        startLat: locations[location_key].Lat,
                        startLng: locations[location_key].Long,
                        endLat: locations[latency_key].Lat,
                        endLng: locations[latency_key].Long,
                        color:"white",
                        name: latency_key + ": " + latency[latency_key][location_key] + "ms"
                    }
                })
            }).flat();
            
            const N = 20;
            const arcsData = [...Array(N).keys()].map(() => ({
            startLat: (Math.random() - 0.5) * 180,
            startLng: (Math.random() - 0.5) * 360,
            endLat: (Math.random() - 0.5) * 180,
            endLng: (Math.random() - 0.5) * 360,
            color: [['red', 'white', 'blue', 'green'][Math.round(Math.random() * 3)], ['red', 'white', 'blue', 'green'][Math.round(Math.random() * 3)]]
            }));
            return arcsData;
        }

        function calc_distance(la,lb){
            const R = 6371e3; //meters
            const l1 = la.lat * Math.PI / 180;
            const l2 = lb.lat * Math.PI / 180;

            const delta = (lb.lat - la.lat) * Math.PI / 180;
            const lambda = (lb.lng - la.lng) * Math.PI / 180;

            const a = Math.sin(delta/2) * Math.sin(delta/2) +
                      Math.cos(l1) * Math.cos(l2) *
                      Math.sin(lambda/2) * Math.sin(lambda/2);

            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            const d = R * c;
            return d;
            //return Math.sqrt(Math.pow(a.lat-b.lat,2)+Math.pow(a.lng-b.lng,2));

        }

        function sort_by_closest(l, locations){
            return Object.values(locations).sort((a,b) => {
                //console.log(a);
                const la = a;//locations[a];
                const lb = b;//locations[b];
                const a_distance = calc_distance(l,la);
                const b_distance = calc_distance(l,lb);
                return a_distance - b_distance;
                const la_diff = Math.sqrt(Math.pow(la.lat-l.lat,2)+Math.pow(la.lng-l.lng,2));
                const lb_diff = Math.sqrt(Math.pow(lb.lat-l.lat,2)+Math.pow(lb.lng-l.lng,2));
                return la_diff-lb_diff;
                //return 1;
            });
        }

        function getClosestLocation(l, locations){
            return sort_by_closest(l,locations)[0];
        }

        const render_globe = async () => {
            const latency = await getLatency();
            console.log(latency)
            const ll = await getLocations();
            
            const gData = await formatLocationData(ll);
            const gArcs = await generateArcsData(latency,ll);

            console.log(gArcs);

            
            navigator.geolocation.getCurrentPosition((pos) => {
                clearLocation({lat:pos.coords.latitude, lng: pos.coords.longitude});
            })

            const globe = Globe()
                .globeImageUrl('//unpkg.com/three-globe/example/img/earth-day.jpg')
                .pointsData(gData)
                .onGlobeClick(clearLocation)
                .onPointClick(chooseLocation)
                .pointAltitude('size')
                .pointColor('color')
                .heatmapPointLat('lat')
                .heatmapPointLng('lng')
                .heatmapPointWeight('weight')
                .heatmapTopAltitude(0.0)
                .heatmapBandwidth(3)
            (document.getElementById('globeViz'))
            var selectedLocation = "";
            function chooseLocation({lat: endLat, lng: endLng}){
                console.log({lat: endLat, lng: endLng});
                const closest = getClosestLocation({lat: endLat, lng: endLng}, gData)
                console.log(closest);
                const c = gData[closest];
                console.log(c);
                console.log(selectedLocation);
                const a = gArcs.filter((a) => {return a.startLat == gData[closest].lat});
                console.log(a);
                globe.arcsData(a)
            };

            function get_latency(point){
                const locations = sort_by_closest(point, gData);
                const chosen_datacenter = locations[0];
                const distance = calc_distance(point,chosen_datacenter);
                const reference_datacenter = locations.filter((l) => distance < calc_distance(l,chosen_datacenter))[0];
                const reference_distance = calc_distance(chosen_datacenter, reference_datacenter);
                const fraction = distance/reference_distance;
                //console.log(reference_datacenter)
                const value = latency[reference_datacenter.name][chosen_datacenter.name];            
                //console.log(value);
                return value*fraction;
            }

            function clearLocation({lat: endLat, lng: endLng}){
                const point = {lat:endLat, lng: endLng, color:'red',size:0};
                const locations = sort_by_closest(point, gData);
                //console.log(locations);
                const data_center = locations[0];
                //console.log(data_center);
                const data_center_distance = calc_distance(point,data_center);
                const less_than = locations.filter((l) => data_center_distance < calc_distance(l,data_center));
                //console.log(less_than);
                const reference_datacenter = less_than[0];
                //console.log(reference_datacenter);
                const reference_distance = calc_distance(data_center,reference_datacenter);
                //console.log(data_center_distance);
                //console.log(reference_distance);
                const fraction = data_center_distance/reference_distance;
                const value = latency[reference_datacenter.name][data_center.name];
                //console.log(value);
                //console.log(value*fraction);
                
                //const d1=getClosestLocation({lat:endLat, lng:endLng},gData);
                /*const arc1 = {
                        startLat: data_center.lat,
                        startLng: data_center.lng,
                        endLat: reference_datacenter.lat,
                        endLng: reference_datacenter.lng,
                        color:"white",
                        //name: get_latency({lat:lat, lng:lng})
                        //name: latency_key + ": " + latency[latency_key][location_key] + "ms"
                    };*/
                const arc2 = {
                    startLat:endLat,
                    startLng:endLng,
                    endLat: data_center.lat,
                    endLng: data_center.lng,
                    color:"black",
                    name: (value*fraction).toFixed(1) + "ms"
                    //name: str(getLatency({lat:endLat, lng: endLng}))
                }
                globe.arcsData([/*arc1,*/ arc2])
                //const newArray = [...globe.pointsData(), point];
                const newArray = [...gData, point];
                //console.log(newArray);
                globe.pointsData(newArray);
                /*setTimeout(() => {
                    globe.pointsData(globe.pointsData().filter((p) => p != point));
                }, 2000);*/
            }
/*
            function generateHeatMap(cutoff){
                const X = 100;
                const Y = 100;
                //const N = 360*180;
                const data = [...Array(X*Y).keys()].map((i) => {
                    lng = (360*(i%X)/Y)-180; // from -180 to 180
                    lat = (160*Math.floor(i/X)/X)-80; // from -90 to 90
                    return ({
                        lat: lat,
                        lng: lng,
                        weight: Math.max(0,cutoff - get_latency({lat:lat, lng:lng}))
                    });
                });
                //console.log(data);
                return data;
            }
            //globe.heatmapsData([generateHeatMap(300)]);*/


        }
        render_globe();
  
    </script>
</html>